<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="d-flex flex-column justify-content-evenly align-items-center" id="index-page">
    <h1 class="text-center text-uppercase lh-lg display-1 text-white">Welcome To</h1>
    <img src="/images/logo.png" alt="logo" class="img-fluid">
    <div id="action-button" class="d-flex justify-content-center align-items-center">
        <a th:href="@{/users/register}" class="text-uppercase fs-1 text-decoration-none text-white">Register</a>
    </div>
    <div id="action-button" class="d-flex justify-content-center align-items-center">
        <a th:href="@{/users/login}" class="text-uppercase fs-1 text-decoration-none text-white">Login</a>
    </div>
</body>
</html>