<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/commons::head"></head>
  <body>
    <section
      id="reg-login-page"
      class="d-flex justify-content-center align-items-center pb-3"
    >
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              alt="Sample image"
              class="img-fluid"
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form th:object="${userRegistrationDTO}" th:action="@{/users/register}" method="post" class="needs-validation" novalidate>
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-uppercase">
                  Register
                </p>
              </div>
              <div class="form-outline mb-4">
                <label for="firstName" class="mb-3 fs-5 ms-2">
                    Enter a first name:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="text"
                  id="firstName"
                  th:field="*{firstName}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error message</div>
              </div>
              <div class="form-outline mb-4">
                <label for="lastName" class="mb-3 fs-5 ms-2">
                    Enter a last name:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="text"
                  id="lastName"
                  th:field="*{lastName}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error message</div>
              </div>
              <div class="form-outline mb-4">
                <label for="dateOfBirth" class="mb-3 fs-5 ms-2">
                  Select your date of birth:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  id="dateOfBirth"
                  type="date"
                  th:field="*{dateOfBirth}"
                  th:errorclass="is-invalid"
                  placeholder="mm/dd/yyyy"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Error message</div>
              </div>
              <!--TODO: REPLACE GENDER PART WITH DYNAMIC ONE-->
              <div class="form-outline mb-4 d-flex flex-column">
                <p class="mb-3 fs-5 ms-2">Select a gender:</p>
                <div class="form-check ms-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="male"
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Male
                  </label>
                </div>
                <div class="form-check ms-2">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="female"
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Female
                  </label>
                </div>
              </div>
              <div class="form-outline mb-4">
                <label for="username" class="mb-3 fs-5 ms-2">
                  Enter a username:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="text"
                  id="username"
                  th:field="*{username}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error message</div>
              </div>
              <div class="form-outline mb-4">
                <label for="email" class="mb-3 fs-5 ms-2">
                  Enter a email address:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="email"
                  id="email"
                  th:field="*{email}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error message</div>
              </div>
              <div class="form-outline mb-4">
                <label for="password" class="mb-3 fs-5 ms-2">
                  Enter a password:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="password"
                  id="password"
                  th:field="*{password}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error message</div>
              </div>
              <div class="form-outline mb-4">
                <label for="confirmPassword" class="mb-3 fs-5 ms-2">
                  Confirm a password:
                </label>
                <input
                  class="form-control form-control-lg rounded-pill p-2 shadow-sm ps-4"
                  type="password"
                  id="confirmPassword"
                  th:field="*{confirmPassword}"
                  th:errorclass="is-invalid"
                  required
                />
                <div class="invalid-feedback text-center" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Error message</div>
              </div>
              <div class="text-center text-lg-start mt-4 pt-2">
                <input
                  class="btn btn-primary btn-lg shadow-sm rounded-pill"
                  style="padding-left: 2.5rem; padding-right: 2.5rem; background: linear-gradient(99.94deg, #36cec5 0%, rgba(15, 126, 227, 0.66) 100%); border: none;"
                  type="submit"
                  value="Register"
                />
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  Already have an account?
                  <a class="link-danger" th:href="@{/users/login}">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
