@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

#index-page {
    font-family: 'Tilt Warp', cursive;
    min-height: 100vh;
    background: linear-gradient(345deg, rgba(28,27,48,1) 0%, rgba(16,62,163,1) 56%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);
}

#index-page #action-button {
    background: linear-gradient(99.94deg, #36CEC5 0%, rgba(15, 126, 227, 0.66) 100%);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    width: 350px;
    height: 80px;
    margin: 5px 0;
}

#index-page h1 {
    background: linear-gradient(99.94deg, #36CEC5 0%, rgba(15, 126, 227, 0.66) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

#reg-login-page {
    background: radial-gradient(circle, rgba(0,36,35,0.29735644257703087) 0%, rgba(0,255,239,0.24693627450980393) 100%);
}

#reg-login-page input {
    border: 2px solid #36CEC5;
}